@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
  
  .home{
    font-family: 'Sora', sans-serif;
    background-color: rgb(208, 207, 101);
  }
  .hero {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;  
  
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  
    .hero-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      color: #000000;
  
      h4 {
        text-transform: uppercase;
        font-size: 22px;
        padding-bottom: 4px;
        margin-left: 16px;
        font-weight: 600;
        text-align: left;
      }
  
      h2 {
        font-size: 50px;
        text-align: left;
        margin-left: 16px;
        @media (max-width: 334px) {
          font-size: 40px;
        }
        @media (min-width: 550px) {
          font-size: 60px;
        }
        @media (min-width: 769px) {
          font-size: 70px;
        }
        @media (min-width: 900px) {
          font-size: 80px;
        }
      }
  
      hr:nth-child(2) {
        max-width: 365px;
        margin-bottom: 16px;
      }
      hr:nth-child(4) {
        height: 6px;
        background-color: #fff;
        border: none;
        max-width: 85px;
        margin-top: 16px;
      }
    }
  }
  .section1 {
    color: #000000;
    background-color: #504b4b;
    box-sizing: border-box;
  
    .title{
      text-align: center;
      color: #fff;
      font-family: 'Sora', sans-serif;
      font-size: 32px;
    }

    .title2{
      text-align: center;
      color: #fff;
      font-family: 'Sora', sans-serif;
      font-size: 26px;
      @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 12px;
        }
    }
    .title3{
      text-align: center;
      color: #fff;
      font-family: 'Sora', sans-serif;
      font-size: 14px;
      @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 12px;
        }
    }
    .section1_content{
      display: flex;
      text-align: center;
      justify-content: center;
      box-sizing: border-box;

      div.polaroid {
          width: 90%;
          background-color: #0c3927;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          margin-bottom: 25px;
          img {
            width: 100%;
          }
        }
        div.pol_container {
          text-align: center;
          padding: 10px 20px;
          color: #fff;
          @media (max-width: 620px) {
          font-size: 12px;
          }
        }

      .section1_first{
        width: 30%;
        float: left;
        margin-left: 20px;
      }
      .section1_second{
        width: 30%;
      }
      .section1_third{
        width: 30%;
      }
    }
  }
  .section2{
    color: #000000;
    background-color: rgb(208, 207, 101);
    box-sizing: border-box;
    .title{
      text-align: center;
      color: #000000;
      font-family: 'Sora', sans-serif;
      font-size: 32px;
    }
    .title2{
      text-align: left;
      color: #000000;
      font-family: 'Sora', sans-serif;
      font-size: 20px;
      @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 12px;
        }
    }

    .title3{
      text-align: center;
      color: #000000;
      font-family: 'Sora', sans-serif;
      font-size: 20px;
      @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 12px;
        }
    }

    .button_about{
      background-color: #0c3927;
      border-radius: 5px;
      color: white;
      padding: 16px 32px;
      font-size: 16px;
      font-weight: 600;
      margin: 40px 2px 20px 10px;
      cursor: pointer;
      border: 2px solid #000;

      @media (max-width: 768px) {//dont forget to add these everywhere (support mobile first)
          font-size: 12px;
          width: 80%;
          height: 40%;
          padding: 16px 16px;
      }
      @media (max-width: 580px) {//dont forget to add these everywhere (support mobile first)
          padding: 0px;
      }

      @media (min-width: 1024px) {//dont forget to add these everywhere (support mobile first)
        margin-top: 60px;
      }
    }
    .section2_content{
      display: flex;
      text-align: left;
      @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
        font-size: 12px;
      }
      @media (max-width: 370px)  {
          .section2_first .polaroid,.section2_third .polaroid {width: 80%; display: none;}
      }
      .section2_first{
        width: 25%;
        color: #fff;
        font-family: 'Sora', sans-serif;
        font-size: 22px;
        margin-left: 5px;
        @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 12px;
        }
        @media (max-width: 370px) {//dont forget to add these everywhere (support mobile first)
          width: 0%;
        }
        div.polaroid {
          width: 90%;
          height: 100%;
          background-color: transparent;
          margin-bottom: 25px;

          img{
            height: 100%;
            width: 100%;

            @media (max-width: 768px) {//dont forget to add these everywhere (support mobile first)
              height: 80%;
            }

            @media (max-width: 375px) {//dont forget to add these everywhere (support mobile first)
              height: 70%;
            }
          }
        }
      }
      .section2_second{
        width:60%;
        float: left;
        color: #000000;
        font-family: 'Sora', sans-serif;
        font-size: 20px;
        @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 10px;
        }
        @media (max-width: 768px) {//dont forget to add these everywhere (support mobile first)
          width: 50%;
        }
      }

      .section2_fourth{
        width:15%;
        float: right;
        justify-content: right;
        color: #000000;
        font-family: 'Sora', sans-serif;
        font-size: 20px;
        margin-right: 10px;
        @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 10px;
        }
        @media (max-width: 768px) {//dont forget to add these everywhere (support mobile first)
          width: 20%;
        }
        @media (max-width: 370px) {//dont forget to add these everywhere (support mobile first)
          width: 40%;
        }
      }
    }
  }
  .section3{
    color: #000000;
    background-color: rgb(205, 224, 96);
    box-sizing: border-box;
    height: 650px;
    .title{
      text-align: center;
      color: #000000;
      font-family: 'Sora', sans-serif;
      font-size: 32px;
    }

    .title2{
      text-align: center;
      color: #000000;
      font-family: 'Sora', sans-serif;
      font-size: 20px;
      @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 12px;
        }
    }

    .section3_content{
      display: flex;
      text-align: left;
      .form{
        width: 65%;
        float: left;
        color: #000;
        font-family: 'Sora', sans-serif;
        font-size: 22px;
        margin-left: 10px;
        @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 14px;
        }
        label{
          font-weight: 600;
        }
        #fullname{
          width: 80%;
          height: 40px;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #000000;
          font-size: 16px;
          @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 14px;
          }
        }
        #email{
          width: 80%;
          height: 40px;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #000000;
          font-size: 16px;
          @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 14px;
          }
        }
        #pnumber{
          width: 80%;
          height: 40px;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #000000;
          font-size: 16px;
          @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 14px;
          }
        }
        #message{
          width: 80%;
          min-width: 200px;
          min-height: 50px;
          max-height: 80px;
          max-width: 80%;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #000000;
          font-size: 16px;
          @media (max-width: 620px) {//dont forget to add these everywhere (support mobile first)
          font-size: 14px;
          }
        }
        #submit{
          background-color: #0c3927b9;
          border: none;
          color: white;
          padding: 16px 32px;
          font-size: 16px;
          font-weight: 600;
          margin: -10px 20px 20px 10px;
          cursor: pointer;
          border: 2px solid #000;
        }
      }
      .images{
        width: 50%;
        height: 50%;
        float: right;
        margin-right: 10px;
        max-width: 500px;
        max-height: 400px;
        img{
          max-width: 100%;
          min-height: 20%;
          max-height: 300px;
          border-radius: 15px;  
          margin-top: 40px;
        }
      }
    }
  }
  
  .section4{
    color: #fff;
    background-color: #0c3927b9;
    padding-left: 10px;
    font-size: 16px;
    .copyright{
      padding-left: 10px;
      padding-top: 10px;
    }
    .links{
      width: 100%;
      display: flex;
      justify-content: center;
      a{
        margin: 30px;
        @media (max-width: 1440px) {//dont forget to add these everywhere (support mobile first)
            margin: 15px;
        }
        @media (max-width: 1024px) {//dont forget to add these everywhere (support mobile first)
            margin: 10px;
        }
        @media (max-width: 768px) {//dont forget to add these everywhere (support mobile first)
            margin: 2px;
        }
      }
      @media (max-width: 550px) {//dont forget to add these everywhere (support mobile first)
          display: block;  
        }
    }
    .title{
      text-align: center;
      color: #fff;
      font-family: 'Sora', sans-serif;
      font-size: 32px;
      @media (max-width: 770px) {//dont forget to add these everywhere (support mobile first)
        font-size: 16px;
      }
    }
    .services{
      display: flex;
      justify-content: center;
      font-size: 16px;
      @media (max-width: 770px) {//dont forget to add these everywhere (support mobile first)
        font-size: 14px;
      }
      @media (max-width: 450px) {//dont forget to add these everywhere (support mobile first)
        font-size: 10px;
      }
      @media (max-width: 370px) {//dont forget to add these everywhere (support mobile first)
        font-size: 8px;
      }
    }
  }
  
  .images{//images found in sections
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 5px;
  }